<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Releases Plotter</title>
    <script>
        // <!-- Enable theme identification -->
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.querySelector('body').style.backgroundColor = '#0d1117';
            document.querySelector('h1').style.color = '#ffffff';
        } else {
            document.querySelector('body').style.backgroundColor = '#ffffff';
            document.querySelector('h1').style.color = '#000000';
        }
    </script>
</head>
<body>
    <h1>GitHub Stats Image</h1>
    <form id="form">
        <label for="repo">Repository:</label>
        <input type="text" id="repo" name="repo" placeholder="owner/repo" required>
        <input type="text" id="tag" name="tag" placeholder="tag">
        <input type="submit" value="Submit">
    </form>
    <script>
        const form = document.getElementById('form');
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            const repo = document.getElementById('repo').value;
            const tag = document.getElementById('tag').value;
            window.location.href = `/${repo}?tag=${tag}`;
        });
    </script>
</body>
</html>
